<mat-card>
  <mat-card-title>
    Login page
  </mat-card-title>
  <mat-card-content>
    <section class="login-form">
        <form fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center" [formGroup] ="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <mat-form-field fxFlex="1 1 auto">
                <input type="email" name="email" matInput [formControl]="loginForm.controls['email']" placeholder="Your email">
                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email must not be empty</mat-error>
                <mat-error *ngIf="!loginForm.controls['email'].hasError('required')">Email should be a valid email</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="1 1 auto">
                <input type="password" name="password" matInput [formControl]="loginForm.controls['password']"  minlength="6"  placeholder="Your password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">password must not be empty</mat-error>
                
            </mat-form-field>
            <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Submit</button>
            <div class="loading-indicator" *ngIf="(isLoading$ | async)">
                    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
            </div>
            
        </form>
    </section>    
  </mat-card-content>
</mat-card>
